*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html{
  line-height: 24px;
  font-family: "微软雅黑",arial;
  color: #333;
  font-size: 10px;
  height: 100%;
}
body{
  height: 100%;
}
header,p{
  margin:0px;
}
a{
  text-decoration: none;
  color: #333;
  transition: .6s;
}
body{
  margin:0;
}
.register,.login{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  background:silver;/*背景以后要改*/
}
.el-icon-check{
    color:#13CE66;
  }
.el-icon-close{
  color:#FF4949;
}
.admin-tip{
  text-align:right;
  margin:0;
  font-size: 12px;
}
.admin-tip span{
  color:blue;
  text-decoration: underline;
  cursor: pointer;
}
.admin-tip span:hover{
  opacity:0.5
}
#app,html,body{
  height: 100%;

}
h3{
  margin:0;
  font-weight: normal;
}
ul{
  margin:0;
  padding: 0;
  list-style: none;
}
.content h4{
  font-size: 20px;
  font-weight: 400;
  color:#000;
}
.content p{
  color:#5a5a5a;
  font-size: 20px;
}
#app{
  position: relative;

}

/**
 * 文本详情样式
 */
 .main .article p span{
  text-indent: 2em;
  color:#5A5A5A !important;
  text-indent: 2em !important;;
  line-height:3rem !important;;
  font-size: 20px !important;
  /* color:red; */
}
.swiper-item img{
  
}
.vue-waterfall-easy-container .vue-waterfall-easy a.img-wraper > img:hover{
  cursor: pointer;
  opacity: 0.6;
}
.vue-waterfall-easy-container .vue-waterfall-easy-scroll{
  overflow-y:auto !important;
}
.vue-waterfall-easy-container .vue-waterfall-easy-scroll{
  /* width: 1210px !important;
  background: red !important; */
}
.vue-waterfall-easy-container .vue-waterfall-easy a{
  /* padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem; */
}
.desc p{
  color:#5A5A5A !important;
}
.ql-container.ql-snow{
  border:none !important;
}
.ql-container {
  padding-bottom: 100px !important;
}
.about-content h3,
.about-content h6,
.about-content h6 span
{
  font-size: 14px;
}
.ql-container p {
  font-style: normal;
}
.news article p{
  margin-bottom: 1rem !important;
  font-size: 16px;
}
.news article p:nth-last-child(2){
  margin-bottom:0 !important;
}
.news article a:hover{
  opacity: 0.7;
}
.pra p{
  margin-bottom: 1rem;
  /* font-size: 14px !important; */
}


.exh.item {
    position:relative;
    line-height:1.4em;
    /* 3 times the line-height to show 3 lines */
    max-height:7em;
    overflow:hidden;
}
.exh.item::after {

}
.exh.item p {
  font-size: 16px;
  text-align: left;
}
.pra-exh p span{
  color:white !important;
}
@media screen and (max-width:480px){
  .news-texts span,
  .exh.item p{
    font-size: 14px !important;
  }
  .main .article p,
  .main .article p span,
  .content h4,
  .content p{
    font-size: 16px !important;
  }
  .news article p{
    font-size: 14px !important;
    margin-bottom: .4rem !important;
  }
  .news article a:hover{
    opacity: 1;
  }
  /* 作品文字移动端样式 */
  .pra p{
    margin-bottom: 0;
    font-size: 14px !important;
  }
  .exh.item::after {
      padding:0 1.2rem 1px 0;
  }
}
@media screen and (max-width:320px){
  .exh.item::after {
      padding:0 .2rem 1px 0;
  }
}
