*{
  box-sizing: border-box;
}
body{
  margin:0;
}
.register,.login{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  background:silver;/*背景以后要改*/
}
.el-icon-check{
    color:#13CE66;
  }
.el-icon-close{
  color:#FF4949;
}
.admin-tip{
  text-align:right;
  margin:0;
  font-size: 12px;
}
.admin-tip span{
  color:blue;
  text-decoration: underline;
  cursor: pointer;
}
.admin-tip span:hover{
  opacity:0.5
}
